@use "../abstracts/variables" as *;
@use '../abstracts/mixins' as *;


.training {

    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
    grid-gap: 2rem;

    padding: 3rem;

    @include respond(phone) {
        grid-template-rows: 1fr 1fr 1fr;
        grid-template-columns: 1fr;

        padding: 1.5rem;
    }

    @include respond(tab-port) {
        grid-template-rows: auto;
    }

    &__content {
        border: 1px solid $color-primary;
        padding: 2rem;
        border-radius: $border-radius-modals;

        background-color: $color-primary-dark;
        background-color: rgba(154, 129, 223, 0.2);

        &:last-child {
            grid-row: span 2;
            grid-column: span 2;

            align-self: start;

            @include respond(phone) {
                grid-row: 2 / 3;
                grid-column: auto;
            }
        }

        & p {
            font-size: 1.8rem;
        }

    }

}
